{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
	.container {
		padding: 50px;
	}
	body {
		padding-top: 50px;
	}
	.featurette {
		padding: 20px;
	}
  h1 {
    margin-bottom: 50px;
  }
  h2 {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  h4 {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .row {
    margin: 15px;
  }
  .box {
    border-radius:50px;
    padding: 10px;
  }
  .box:hover {
      box-shadow: 0 0 10px #000;
  }
</style>

<div class="container">

  <h1 align="center"> MEET THE DOGS OF WOOF </h1>
  <hr>
  <h2 align="center" class="text-muted"> COACHES </h2>

  <!-- COACHES -->
  <div class="row" align="center">
    <div class="col-lg-6 box">
      <a href="#woof"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Eric "Mouse" Wilkins</h3>
      <p></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6 box">
      <a href="#woof"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Steven Borik</h3>
      <p></p>
    </div><!-- /.col-lg-4 -->
    
  </div><!-- /.row -->

  <hr>
  <h2 align="center" class="text-muted"> CAPTAINS </h2>

  <!-- Three columns of text below the carousel -->
  <div class="row" align="center">
    <div class="col-lg-3 box" >
      <a href="#woof"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Christian Cortes</h3>
      <p>Sophomore - Electrical Engineering</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 box">
      <a data-toggle="modal" data-target=".victor-mao"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Victor Mao</h3>
      <p>Sophomore - Computer Science</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 box">
      <a href="#woof"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Kirtan Patel</h3>
      <p>Junior - Mechanical Engineering</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 box">
      <a href="#woof"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Joseph Welkener</h3>
      <p>Junior - Mechanical Engineering</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr>
  <h2 align="center" class="text-muted"> #WOOF </h2>

  <h4 align="center"> Tryouts for WOOF will be held mid-October 2017. Practices start Monday, August 21st. Practices for Fall 2017 are Mondays (6-8pm), Wednesdays (6-8pm), and Fridays (5-7pm) at the UTD Soccer Fields. Come out to practice for more information or email us at <a href="mailto:utdfrisbee@gmail.com">utdfrisbee@gmail.com</a>!</h4>


<!--
  <div class="row" align="center">
    <div class="col-lg-2 box">
      <a href="#woof"><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>WOOF</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-lg-2 box">
      <a href="#woof"><img class="img-circle" src="{% static 'Ultrastar.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>BARK</h3>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    </div>
    <div class="col-lg-2 box">
      <a href="#woof"><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Monstars</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div class="col-lg-2 box">
      <a href="#woof"><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Monstars</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div class="col-lg-2 box">
      <a href="#woof"><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Monstars</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div class="col-lg-2 box">
      <a href="#woof"><img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"></a>
      <h3>Monstars</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div><!-- /.row -->



</div>


<!-- modals -->
<div class="modal fade victor-mao" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Victor Mao</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Player bios coming soon.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}