{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
	.container {
		padding: 50px;
	}
	body {
		padding-top: 50px;
	}
	.featurette {
		padding: 20px;
	}
  h1 {
    margin-bottom: 50px;
  }
  h2 {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .row {
    margin: 15px;
  }
  .box {
    border-radius:50px;
    padding: 10px;
  }
  .box:hover {
      box-shadow: 0 0 10px #000;
  }
</style>

<div class="container">

  <h1 align="center"> CONTACT BARK </h1>
  <hr>
  <h2 align="center" class="text-muted">
    <a href="mailto:utdfrisbee@gmail.com" target="_blank"><i class="fa fa-envelope"></i> | utdfrisbee@gmail.com </a> <br>
  </h2>

</div>


{% endblock %}