{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>UTD Ultimate Frisbee</title>
    <link rel="icon" href="{% static 'forage/tree.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style type="text/css">
      .navbar {
        margin-bottom: 0px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 150px;
        background-color: #333;
      }
    </style>

  </head>
  <body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class=""></span> UTD ULTIMATE FRISBEE <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" target="_blank">Dallas Ultimate Association</a></li>
              <li><a href="" target="_blank">Dallas Ultimate Community Facebook</a></li>
              <li><a href="" target="_blank">USA Ultimate</a></li>
            </ul>
        </li>
      </ul>

      <!-- "Men's A - WOOF" -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Men's A Team - WOOF <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" target="_blank">About</a></li>
              <li><a href="" target="_blank">Roster</a></li>
              <li><a href="" target="_blank">Gallery</a></li>
              <li><a href="" target="_blank">Videos</a></li>
              <li><a href="" target="_blank">Contact Us</a></li>
              <li><a href="" target="_blank">Social Media</a></li>
            </ul>
        </li>

        <!-- "Men's B - BARK" -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Men's B Team - BARK <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" target="_blank">About</a></li>
              <li><a href="" target="_blank">Roster</a></li>
              <li><a href="" target="_blank">Gallery</a></li>
              <li><a href="" target="_blank">Videos</a></li>
              <li><a href="" target="_blank">Contact Us</a></li>
              <li><a href="" target="_blank">Social Media</a></li>
            </ul>
        </li>

        <!-- "Women's - Monstars" -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Women's Team - Monstars <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" target="_blank">About</a></li>
              <li><a href="" target="_blank">Roster</a></li>
              <li><a href="" target="_blank">Gallery</a></li>
              <li><a href="" target="_blank">Videos</a></li>
              <li><a href="" target="_blank">Contact Us</a></li>
              <li><a href="" target="_blank">Social Media</a></li>
            </ul>
        </li>
      </ul>

    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>

  </body>
</html>