{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>UTD Ultimate Frisbee</title>
    <link rel="icon" href="{% static 'forage/tree.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style type="text/css">
      .navbar {
        margin-bottom: 0px;
        background-color: #192c4e;
        color: #000;
      }
      .nav.navbar-nav.navbar-right li a {
        color: white;
      }
      .nav.navbar-nav li a {
        color: white;
      }
      .nav.navbar-nav li a:hover {
        color: #ccc;
      }
      .dropdown-menu {
        background-color: #eb1a2c;
      }
      li.dropdown:hover > .dropdown-menu {
        display: block;
      }
      .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
          background-color: #192c4e;
      }
      .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 550px;
        background-color: #192c4e;
        color: white;
        margin: 0;
        padding: 50px;
      }

      #topBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
      }
      #topBtn:hover {
        background-color: #999;
      }

    </style>

  </head>
  <body>

  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="nav-logo">
            <a href="http://127.0.0.1:8000/"> University of Texas at Dallas - Ultimate Frisbee </a>
          </li>
        </ul>

        <!-- "Men's A - WOOF" -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> WOOF - Men's A Team <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="woof/about.html">About</a></li>
                <li><a href="woof/roster.html">Roster</a></li>
                <li><a href="woof/gallery.html">Gallery</a></li>
                <li><a href="woof/contactus.html">Contact Us</a></li>
                <li><a href="https://www.facebook.com/UTDWOOF/" target="_blank"><i class="fa fa-facebook"></i> | Facebook</a></li>
                <li><a href="https://twitter.com/UTD_Ultimate" target="_blank"><i class="fa fa-twitter"></i> | Twitter</a></li>
                <li><a href="https://www.instagram.com/utdultimate/" target="_blank"><i class="fa fa-instagram"></i> | Instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCy1wEbWkqKfymrD0IqdXv5w" target="_blank"><i class="fa fa-youtube"></i> | YouTube</a></li>
              </ul>
          </li>

          <!-- "Men's B - BARK" -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> BARK - Men's B Team <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="bark/about.html">About</a></li>
                <li><a href="bark/roster.html">Roster</a></li>
                <li><a href="bark/gallery.html">Gallery</a></li>
                <li><a href="bark/contactus.html">Contact Us</a></li>
              </ul>
          </li>

          <!-- "Women's - Monstars" -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Monstars - Women's Team <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="monstars/about.html">About</a></li>
                <li><a href="monstars/roster.html">Roster</a></li>
                <li><a href="monstars/gallery.html">Gallery</a></li>
                <li><a href="monstars/contactus.html">Contact Us</a></li>
                <li><a href="https://www.facebook.com/monstarsutd/" target="_blank"><i class="fa fa-facebook"></i> | Facebook</a></li>
                <li><a href="https://twitter.com/utd_monstars" target="_blank"><i class="fa fa-twitter"></i> | Twitter</a></li>
                <li><a href="https://www.instagram.com/utdultimate/" target="_blank"><i class="fa fa-instagram"></i> | Instagram</a></li>
              </ul>
          </li>

          <!-- "Helpful Links" -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Helpful Links <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://dallasultimate.org/" target="_blank">Dallas Ultimate Association</a></li>
                <li><a href="https://www.facebook.com/groups/1564928507109923/" target="_blank">Dallas Ultimate Community Facebook Group</a></li>
                <li><a href="http://www.usaultimate.org/index.html" target="_blank">USA Ultimate</a></li>
                <li><a href="https://www.ultiworld.com" target="_blank">Ultiworld</a></li>
                <li><a href="https://www.dallasroughnecks.com/" target="_blank">Dallas Roughnecks</a></li>
                <li><a href="http://earlyrecognitioniscritical.org/" target="_blank">E.R.I.C (Early Recognition Is Critical)</a></li>
              </ul>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="row">
      <div class="col-md-2 col-md-offset-1" align="center">
        <p class="" align="center"> The University of Texas at Dallas </p>
        <hr>
        <a href="http://www.utdallas.edu/" target="_blank"><img src="{% static 'UTD_Logo.jpg' %}" alt="..." width="80%" align="center"></a>
        <p align="center"> <br>
          <span class="fa-stack fa-md">
            <a href="http://www.facebook.com/utdallas" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="http://www.twitter.com/ut_dallas" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="http://instagram.com/ut_dallas" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="http://www.youtube.com/utdallascomets" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </a>
          </span>
        </p>
        <hr>
        <p align="center"><a href="http://www.utdallas.edu/recsports/" target="_blank">UTD Recreational Sports</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://www.facebook.com/UTDUREC" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/UTDUREC" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.instagram.com/utdurec/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="http://www.youtube.com/user/UTDRecSports" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </a>
          </span>
        </p>
        <p align="center"><a href="http://www.utdallas.edu/recsports/clubsports/" target="_blank">UTD Club Sports</a></p>
      </div>
      <div class="col-md-2">
        <p class="" align="center"> WOOF - Men's A Team </p>
        <hr>
        <p align="center"><a href="woof/about.html">About</a></p>
        <p align="center"><a href="woof/roster.html">Roster</a></p>
        <p align="center"><a href="woof/gallery.html">Gallery</a></p>
        <p align="center"><a href="woof/contactus.html">Contact Us</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://www.facebook.com/UTDWOOF/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/UTD_Ultimate" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.instagram.com/utdultimate/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.youtube.com/channel/UCy1wEbWkqKfymrD0IqdXv5w" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </a>
          </span>
        </p>
      </div>
      <div class="col-md-2">
        <p class="" align="center"> BARK - Men's B Team  </p>
        <hr>
        <p align="center"><a href="bark/about.html">About</a></p>
        <p align="center"><a href="bark/roster.html">Roster</a></p>
        <p align="center"><a href="bark/gallery.html">Gallery</a></p>
        <p align="center"><a href="bark/contactus.html">Contact Us</a></p>
      </div>
      <div class="col-md-2">
        <p class="" align="center"> Monstars - Women's Team </p>
        <hr>
        <p align="center"><a href="monstars/about.html">About</a></p>
        <p align="center"><a href="monstars/roster.html">Roster</a></p>
        <p align="center"><a href="monstars/gallery.html">Gallery</a></p>
        <p align="center"><a href="monstars/contactus.html">Contact Us</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://www.facebook.com/monstarsutd/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/utd_monstars" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.instagram.com/utdultimate/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </a>
          </span>
        </p>
      </div>
      <div class="col-md-2">
        <p class="" align="center"> Helpful Links </p>
        <hr>
        <p align="center"><a href="http://dallasultimate.org/" target="_blank">Dallas Ultimate Association</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://www.facebook.com/DallasUltimate" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/DFWUltimate" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
        </p>
        <p align="center"><a href="https://www.facebook.com/groups/1564928507109923/" target="_blank">Dallas Ultimate Community Facebook Group</a></p>
        <p align="center"><a href="http://www.usaultimate.org/index.html" target="_blank">USA Ultimate</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="http://www.facebook.com/pages/USA-Ultimate/119701558067872" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="http://twitter.com/USAUltimate" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://plus.google.com/u/0/106652851630933181480/posts" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="http://www.youtube.com/usaultimate" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </a>
          </span>
        </p>
        <p align="center"><a href="https://www.ultiworld.com/" target="_blank">Ultiworld</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://facebook.com/ultiworld" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/ulti_world" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://instagram.com/ultiworld" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://youtube.com/ultiworld" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.snapchat.com/add/ultiworld" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-snapchat fa-stack-1x"></i>
            </a>
          </span>
        </p>
        <p align="center"><a href="https://www.dallasroughnecks.com/" target="_blank">Dallas Roughnecks</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://www.facebook.com/dallasroughnecks/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/droughnecks" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.instagram.com/droughnecks/" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://www.youtube.com/channel/UC2IXZa9SjeXBYnlXf41xWQA" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x"></i>
            </a>
          </span>
        </p>
        <p align="center"><a href="http://earlyrecognitioniscritical.org/" target="_blank">E.R.I.C (Early Recognition Is Critical)</a></p>
        <p align="center">
          <span class="fa-stack fa-md">
            <a href="https://www.facebook.com/EarlyRecognitionIsCritical" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack fa-md">
            <a href="https://twitter.com/ERICultimate" target="_blank">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </a>
          </span>
        </p>
      </div>

      <div>

    </div>
  </footer>

  <button onclick="topFunction()" id="topBtn" title="Back To Top"><i class="fa fa-2x fa-angle-double-up"></i></button>

  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("topBtn").style.display = "block";
        }
        else {
            document.getElementById("topBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
  </script>

  </body>
</html>