{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
	.container {
		padding: 50px;
	}
	body {
		padding-top: 50px;
	}
	.carousel {
        background-color: #EBEBEB;
        width: 100%;
    }
    .carousel-inner {
    	width: 100%;
    	max-height: 600px;
    }
    .carousel-inner .item img {
    	position: relative;
    	top: 20%;
    	transform: translateY(-20%);
	}
	.featurette {
		padding: 20px;
	}

	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: #fff;
	}
	.woof-highlights:hover .overlay {
	  opacity: 0.75;
	}
	.rookie-highlights:hover .overlay {
	  opacity: 0.75;
	}
	.monstars-highlights:hover .overlay {
	  opacity: 0.75;
	}

	.play-button {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	}
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<div class="item active" align="center">
      <img src="{% static 'Ross_Megaphone.jpg' %}" alt="Picture taken by Roman Soriaro" >
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item " align="center">
      <img src="{% static 'Steven_Flick_2.jpg' %}" alt="..." >
      <div class="carousel-caption">
        WOOF at Sectionals
        <br>
        Meet the team here:
      </div>
    </div>
    <div class="item" align="center">
      <img src="{% static 'Harvest_Celebration.jpg' %}" alt="...">
      <div class="carousel-caption">
        2017 Men's Ultimate Banquet
      </div>
    </div>
    <div class="item" align="center">
      <img src="{% static 'Tyler_Mark.jpg' %}" alt="...">
      <div class="carousel-caption">
        2017 Women's Ultimate Banquet
      </div>
    </div>
    <div class="item" align="center">
      <img src="{% static 'Mouse.jpg' %}" alt="...">
      <div class="carousel-caption">
        2017 Women's Ultimate Banquet
      </div>
    </div>
    <div class="item" align="center">
      <img src="{% static 'Harvest_Huddle.jpg' %}" alt="...">
      <div class="carousel-caption">
        2017 Women's Ultimate Banquet
      </div>
    </div>
    <div class="item" align="center">
      <img src="{% static 'Joseph_Layout.jpg' %}" alt="...">
      <div class="carousel-caption">
        2017 Women's Ultimate Banquet
      </div>
    </div>
    <div class="item" align="center">
      <img src="{% static 'Joseph_Sky.jpg' %}" alt="...">
      <div class="carousel-caption">
        2017 Women's Ultimate Banquet
      </div>
    </div>
  </div>

  <!-- Controls --> 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div>

 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" align="center">
        <div class="col-lg-4">
          <a href=""><img class="img-circle" src="{% static 'WOOF_Logo.png' %}" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>WOOF</h2>
          <p>UT Dallas Men's A Ultimate Frisbee Team</p>
          <p>Practices for Fall 2017 are Mondays (6-8pm), Wednesdays (6-8pm), and Fridays (5-7pm) at the UTD Soccer Fields.</p>
          <p><a class="btn btn-default" href="#woof" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'Ultrastar.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>BARK</h2>
          <p>UT Dallas Men's B Ultimate Frisbee Team</p>
          <p>Practices for Fall 2017 are Mondays (6-8pm), Wednesdays (6-8pm), and Fridays (5-7pm) at the UTD Soccer Fields.</p>
          <p><a class="btn btn-default" href="#bark" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Monstars</h2>
          <p>UT Dallas Women's Ultimate Frisbee Team</p>
          <p>Practices for Fall 2017 are Tuesdays and Thursdays from 6-8pm at the UTD Soccer Fields.</p>
          <p><a class="btn btn-default" href="#monstars" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="woof">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">WOOF</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p><a class="btn btn-default" href="woof/roster.html" role="button">Meet the team &raquo;</a></p>
        </div>
        <div class="col-md-5 woof-highlights">
          <a href="" data-toggle="modal" data-target=".woof-highlight-video">
          	<img class="featurette-image img-responsive center-block" src="{% static '2017_WOOF_Sectionals_Team_Photo.jpg' %}" alt="WOOF at the 2017 North Texas Men's Conference Championships hosted at UT Dallas.">
          	<div class="overlay">
    			<i class="fa fa-play-circle fa-5x play-button"></i>
  			</div>
          </a>
        </div>
      </div>

      <hr class="featurette-divider" id="bark">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">BARK</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p><a class="btn btn-default" href="#" role="button">Meet the team &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7 rookie-highlights">
          <a href="" data-toggle="modal" data-target=".rookie-highlight-video">
          	<img class="box featurette-image img-responsive center-block" src="{% static '2017_B_Team_Sectionals_Team_Photo.png' %}" alt="BARK at the 2017 North Texas Men's Conference Championships hosted at UT Dallas.">
          	<div class="overlay">
    			<i class="fa fa-play-circle fa-5x play-button"></i>
  			</div>
          </a>
        </div>
      </div>

      <hr class="featurette-divider" id="monstars">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Monstars</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p><a class="btn btn-default" href="#" role="button">Meet the team &raquo;</a></p>
        </div>
        <div class="col-md-5 monstars-highlights">
          <a href="" data-toggle="modal" data-target=".monstars-highlight-video" on-click="changeVideo('e80BbX05D7Y')">
          	<img class="box featurette-image img-responsive center-block" src="{% static '2017_Monstars_Sectionals_Team_Photo.png' %}" alt="Monstars at the 2017 Texas Women's Conference Championships hosted at UT Dallas.">
          	<div class="overlay">
    			<i class="fa fa-play-circle fa-5x play-button"></i>
  			</div>
          </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

</div>


<script type="text/javascript">
$(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url1 = $("#video1").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#video1").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#modal1").on('shown.bs.modal', function(){
        $("#video1").attr('src', url1+"?autoplay=1");
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#modal1").on('hide.bs.modal', function(){
        $("#video1").attr('src', '');
    });

    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url2 = $("#video2").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#video2").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#modal2").on('shown.bs.modal', function(){
        $("#video2").attr('src', url2+"?autoplay=1");
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#modal2").on('hide.bs.modal', function(){
        $("#video2").attr('src', '');
    });

    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url3 = $("#video3").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#video3").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#modal3").on('shown.bs.modal', function(){
        $("#video3").attr('src', url3);
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#modal3").on('hide.bs.modal', function(){
        $("#video3").attr('src', '');
    });
});
</script>



<!-- modals -->
<div id="modal1" class="modal fade woof-highlight-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id="video1" width="100%" height="500" src="https://www.youtube.com/embed/6Be-JdOZ8Cc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="modal2" class="modal fade rookie-highlight-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id="video2" width="100%" height="500" src="https://www.youtube.com/embed/DcMjApdZIGI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="modal3" class="modal fade monstars-highlight-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id="video3" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmonstarsutd%2Fvideos%2F1158778484234183%2F&show_text=0&autoplay=1&volume=1" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}