{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
	.container {
		padding: 50px;
	}
	body {
		padding-top: 50px;
	}
	.featurette {
		padding: 20px;
	}
  h1 {
    margin-bottom: 50px;
  }
  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .row {
    margin: 15px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }
  .woof-highlights:hover .overlay {
    opacity: 0.75;
  }
  .rookie-highlights:hover .overlay {
    opacity: 0.75;
  }
  .monstars-highlights:hover .overlay {
    opacity: 0.75;
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
</style>

<div class="container">

  <h1 align="center"> ABOUT THE MONSTARS </h1>

  <div class="row" align="center">
    <div class="col-lg-10 col-lg-push-1 monstars-highlights" align="center">
          <a href="" data-toggle="modal" data-target=".monstars-highlight-video" on-click="changeVideo('e80BbX05D7Y')">
            <img class="box featurette-image img-responsive center-block" src="{% static '2017_Monstars_Sectionals_Team_Photo.png' %}" alt="Monstars at the 2017 Texas Women's Conference Championships hosted at UT Dallas.">
            <div class="overlay">
          <i class="fa fa-play-circle fa-5x play-button"></i>
        </div>
          </a>
      </div>      
    </div><!-- /.col-lg-4 -->
    
    <h4 align="center">
      Never played ultimate? Played pick up in high school? Played other sports growing up and are looking for something new to learn? Or perhaps you have never played a sport before and are simply wanting something unique and fun to join? No matter which applies to you, the University of Texas at Dallas Women's Club Ultimate Frisbee team, the Monstars, is your answer.<br>
      <br>
      We are a close knit and competitive sports team that loves to work hard together, laugh together, and most importantly, be friends together. Joining the Monstars is a great way to meet new people, have a good time, and stay active and healthy, all while getting to compete and have fun.<br>
      <br>
      Throughout the year we compete at home and away tournaments, usually about 3-4 per semester, with Spring semester being our in season. We practice during the week where we work on disc and field skills and athleticism. We also host several social outings and events throughout the school year along with the Men's ultimate frisbee team, WOOF.<br>
      <br>
      The 2017-2018 Officers: <br>
      Co-Captains- Jamie Eriksson and Louisa Xie <br>
      Co-Presidents- Gabby Spurlin and Brisa Diaz <br>
      Secretary- Elizabeth Jilson <br>
      Fundraising- Meiline Troeung <br>
      Social/Recruitment- Maddie Nickerson <br>
      Design- Aurora Snyder <br>
      <br>
      Practice Times for Fall 2017 are: <br>
      Tuesday and Thursdays 6-8pm at the UTD Soccer Fields<br>
      <br>
      Email us at <a href="mailto:utdwomensultimate13@gmail.com">utdwomensultimate13@gmail.com</a> with any questions you might have!
    </h4>

  </div><!-- /.row -->


  <script type="text/javascript">
$(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url1 = $("#video1").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#video1").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#modal1").on('shown.bs.modal', function(){
        $("#video1").attr('src', url1+"?autoplay=1");
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#modal1").on('hide.bs.modal', function(){
        $("#video1").attr('src', '');
    });

    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url2 = $("#video2").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#video2").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#modal2").on('shown.bs.modal', function(){
        $("#video2").attr('src', url2+"?autoplay=1");
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#modal2").on('hide.bs.modal', function(){
        $("#video2").attr('src', '');
    });

    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url3 = $("#video3").attr('src');
    
    /* Remove iframe src attribute on page load to
    prevent autoplay in background */
    $("#video3").attr('src', '');
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed */
    $("#modal3").on('shown.bs.modal', function(){
        $("#video3").attr('src', url3);
    });
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#modal3").on('hide.bs.modal', function(){
        $("#video3").attr('src', '');
    });
});
</script>


<div id="modal3" class="modal fade monstars-highlight-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id="video3" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmonstarsutd%2Fvideos%2F1158778484234183%2F&show_text=0&autoplay=1&volume=1" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}